# Log files
app/monitoring_log.log
flaskAPI/flask_alert.log
logWatcher/log_watcher_cooldown.json
sre_agent/logs/
flaskAPI/ai_suggestions/
flaskAPI/_gapo_preview.md
# Output & model artifacts
app/outputs/
app/cooldown_cache.json
app/models/

# SSH keys
sre_agent/ssh_keys/
